<a href="https://colab.research.google.com/github/Moogrob127/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

list มีลำดับ เรียกตามลำดับ
dict ไม่มีลำดับเรียกใช้ตามชื่อ

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b ={}

##การ add สมาชิกเข้าไปใน dict

In [ ]:
dict_b['a'] = 123
dict_b

{'a': 123}

In [ ]:
dict_b['a'] = 1 # กรณี add ซ้ำ ค่าเก่าที่เคยมีจะถูกแทนที่ด้วยค่าใหม่
dict_b

{'a': 1}

In [ ]:
if 'b' not in dict_b: # ต้องเขียนฟังก์ชันตรวจสอบก่อน add
  dict_b['b'] = 200
dict_b

{'a': 1, 'b': 200}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('BIBI')

In [ ]:
print_myname()

BIBI

In [ ]:
def print_name1(name):
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name1('STAT')

'ชื่อ STAT'

In [ ]:
pp = print_name1('SIDS')

In [ ]:
pp

'ชื่อ SIDS'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('เบญญาภา','663020301-6','ธรรมโคตร')

'ชื่อ ธรรมโคตร นามสกุล เบญญาภา รหัส 663020301-6'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย') # error เพราะ input ไม่ครบ

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

# Quiz5

เขียนฟังก์ชันของ HW_2

In [ ]:
# สร้างฟังก์ชันสำหรับแปลงเวลาเป็นวินาที
def time_to_seconds(time_str):
    parts = time_str.split(":")
    ints = []
    for p in parts:
        ints.append(int(p))
    h, m, s = ints
    return h * 3600 + m * 60 + s

# แปลงชื่อวันเป็นลำดับเลข
day_to_num = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3,
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6
}

# สร้าง list
list_h = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09 Sunday - 11:11:11, Tuesday"
]

for line in list_h:
    start, end = line.split(" - ")

    # แยกเวลาและวัน
    time1, day1 = start.replace(",", "").split()
    time2, day2 = end.replace(",", "").split()

    # แปลงเวลาเป็นวินาที + วันเป็นวินาที
    sec1 = time_to_seconds(time1) + day_to_num[day1] * 86400
    sec2 = time_to_seconds(time2) + day_to_num[day2] * 86400

    # ถ้าเวลาสิ้นสุดมาก่อนเวลาเริ่ม → หมายถึงข้ามสัปดาห์
    if sec2 < sec1:
        sec2 += 7 * 86400

    diff = sec2 - sec1
    print(f"{line} => {diff} วินาที")

12:30:15, Wednesday - 13:41:07, Thursday => 90652 วินาที
12:53:15, Monday - 00:59:25, Tuesday => 43570 วินาที
16:06:09 Sunday - 11:11:11, Tuesday => 155102 วินาที

# Quiz6

เขียนฟังก์ชันของ HW_2 มีการใช้ค่า ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกัวให้ไม่ต้องกรอกหรือกรอกแค่ 1 ตัว

In [ ]:
# prompt: สร้าฟังก์ชัน คำนณจำนวนวินาที ที่แตกต่างระหว่าง input hh:mm:ss, day in week

def calculate_time_difference(time_str, day1=None, day2=None):
    """
    คำนวณความแตกต่างของเวลาเป็นวินาที ระหว่าง input hh:mm:ss, day in week

    Args:
        time_str (str): รูปแบบเวลา 'hh1:mm1:ss1-hh2:mm2:ss2'.
        day1 (str, optional): วันเริ่มต้น (e.g., 'Monday'). Defaults to None.
        day2 (str, optional): วันสิ้นสุด (e.g., 'Tuesday'). Defaults to None.
                              หาก day1 และ day2 เป็นวันเดียวกัน สามารถกำหนด day1 เพียงอย่างเดียว
                              หรือละไว้ทั้งคู่ได้

    Returns:
        int: จำนวนวินาทีที่แตกต่างกัน
    """
    def time_to_seconds(time_str):
        h, m, s = map(int, time_str.split(':'))
        return h * 3600 + m * 60 + s

    day_to_num = {
        "Monday": 0,
        "Tuesday": 1,
        "Wednesday": 2,
        "Thursday": 3,
        "Friday": 4,
        "Saturday": 5,
        "Sunday": 6
    }

    times = time_str.split('-')
    time1_str = times[0]
    time2_str = times[1]

    sec1 = time_to_seconds(time1_str)
    sec2 = time_to_seconds(time2_str)

    day1_num = 0
    day2_num = 0

    if day1 is not None:
        day1_num = day_to_num.get(day1, 0) * 86400
        if day2 is None:
            day2_num = day1_num # Assume the same day if day2 is not provided
        else:
            day2_num = day_to_num.get(day2, 0) * 86400

    # Add day seconds to time seconds
    sec1 += day1_num
    sec2 += day2_num

    # Handle cases where the end time is before the start time (crossing days/weeks)
    if sec2 < sec1:
         # Assume crossing to the next day if day information is not provided explicitly to indicate crossing weeks
         if day1 is None and day2 is None:
             sec2 += 86400
         else:
            # Assuming crossing to the next week if days are specified and sec2 < sec1
             sec2 += 7 * 86400


    return sec2 - sec1

# Example Usage:
print(calculate_time_difference('12:30:15-13:41:07')) # Same day
print(calculate_time_difference('12:30:15-13:41:07', day1='Wednesday')) # Same day explicitly
print(calculate_time_difference('12:30:15-13:41:07', day1='Wednesday', day2='Wednesday')) # Same day explicitly
print(calculate_time_difference('12:30:15-13:41:07', day1='Wednesday', day2='Thursday')) # Crossing day
print(calculate_time_difference('12:53:15-00:59:25', day1='Monday', day2='Tuesday')) # Crossing day
print(calculate_time_difference('16:06:09-11:11:11', day1='Sunday', day2='Tuesday')) # Crossing day and one more day
print(calculate_time_difference('23:00:00-01:00:00')) # Crossing day (default behavior without day info)
print(calculate_time_difference('23:00:00-01:00:00', day1='Sunday', day2='Monday')) # Crossing day explicitly
print(calculate_time_difference('23:00:00-01:00:00', day1='Sunday', day2='Sunday')) # Should be negative or handled as next day within same week
```

In [ ]:
list_h = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday"
]

In [ ]:
def cal_dif_secs(timeinput):
    days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    timelist = timeinput.split(' - ')

    def extract_time_day(part):
        part = part.strip()
        for day in days_order:
            if day in part:
                time_part = part.replace(day, '').strip(', ').strip()
                return time_part, day
        return part.strip(', ').strip(), None  # ไม่เจอวัน

    time1_str, day1 = extract_time_day(timelist[0])
    time2_str, day2 = extract_time_day(timelist[1])

    # แปลงเวลาเป็นวินาที
    h1, m1, s1 = map(int, time1_str.split(':'))
    h2, m2, s2 = map(int, time2_str.split(':'))
    time1_sec = h1 * 3600 + m1 * 60 + s1
    time2_sec = h2 * 3600 + m2 * 60 + s2

    # ไม่ระบุวัน
    if day1 is None and day2 is None:
        if time2_sec < time1_sec:
            time2_sec += 86400  # เพิ่ม 1 วัน
        return time2_sec - time1_sec

    # ระบุวัน
    if day1 is not None and day2 is None:
        day1_index = days_order.index(day1)
        day2_index = day1_index
    elif day1 is None and day2 is not None:
        day2_index = days_order.index(day2)
        day1_index = day2_index
    else:
        day1_index = days_order.index(day1)
        day2_index = days_order.index(day2)

    time1_total = time1_sec + (day1_index * 86400)
    time2_total = time2_sec + (day2_index * 86400)

    if time2_total < time1_total:
        time2_total += 7 * 86400  # กรณีข้ามสัปดาห์

    return time2_total - time1_total

In [ ]:
list_a = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday",
]

for line in list_a:
    print(f"{line} → {cal_dif_secs(line)} seconds")

12:30:15, Wednesday - 13:41:07, Thursday → 90652 seconds
12:53:15, Monday - 00:59:25, Tuesday → 43570 seconds
16:06:09, Sunday - 11:11:11, Tuesday → 155102 seconds

In [ ]:
list_b = [
    "08:00:00 - 10:00:00",
    "23:00:00 - 01:00:00",  # ข้ามวันโดยไม่ระบุ
    "08:00:00, Friday - 10:00:00",
    "08:00:00 - 10:00:00, Friday"
]

for line in list_b:
    print(f"{line} → {cal_dif_secs(line)} seconds")

08:00:00 - 10:00:00 → 7200 seconds
23:00:00 - 01:00:00 → 7200 seconds
08:00:00, Friday - 10:00:00 → 7200 seconds
08:00:00 - 10:00:00, Friday → 7200 seconds

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [1]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [2]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [3]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [5]:
for i in 'Thanapong':
    print(i,end =  '-> /\n' ) #สั่งให้ print แบบ ขึ้นบรรทัดใหม่

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [6]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [8]:
for i in range(100):
    print('งงมากแม่',end=' ')

งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่ งงมากแม่

In [9]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [11]:
index = 0
for i in 'Thanapong':
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [13]:
for index,i in enumerate('Thanapong'):
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [14]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz7

วนลูปแสดงค่าตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20

In [16]:
# prompt: วนลูปแสดงค่าตัวเลขออกมาเป็นสามเหลี่ยม

for i in range(1, 6):
  for j in range(1, i + 1):
    print(i * j, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [17]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [18]:
list_friends = ['เจโน','แจมิน','จีซอง','แจฮยอน','จองอู','จอนนี่']

In [19]:
print_feelings('จาร์ค',list_friends)

จาร์ค คิดถึง เจโน
จาร์ค คิดถึง แจมิน
จาร์ค คิดถึง จีซอง
จาร์ค คิดถึง แจฮยอน
จาร์ค คิดถึง จองอู
จาร์ค คิดถึง จอนนี่

In [20]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก เจโน
เจมส์ รัก แจมิน
เจมส์ รัก จีซอง
เจมส์ รัก แจฮยอน
เจมส์ รัก จองอู
เจมส์ รัก จอนนี่

In [21]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก เจโน
เจมส์ รัก แจมิน
เจมส์ รัก จีซอง
เจมส์ รัก แจฮยอน
เจมส์ รัก จองอู
เจมส์ รัก จอนนี่

In [22]:
print_feelings('นีโม่','พ่อ')

นีโม่ คิดถึง พ
นีโม่ คิดถึง ่
นีโม่ คิดถึง อ

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [23]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [24]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [25]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [26]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [27]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# nbviewer
https://nbviewer.org/

# HW3

เพิ่ม loop เข้าไปใน quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ต่อไปนี้

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish